<template>
    <div class="page-container container" v-if="user">
        <div class="form-block">
            <div class="form-block__header">
                <h2>Настройки профиля</h2>
            </div>
            <div class="form-block__body">
                <input type="hidden" name="_token" :value="token">
                <div class="form-group">
                    <label for="login" class="col-md-4 control-label">Логин</label>

                    <div class="col-md-6">
                        <input id="login" type="text" class="form-control" name="login" v-model="user.login" required autofocus>

                        <div class="form-errors__block" v-if="errors['login']">
                            <span class="form-errors__row" v-for="error in errors['login']">
                                {{error}}<br>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">E-mail</label>

                    <div class="col-md-6">
                        <input id="email" type="text" class="form-control" name="email" v-model="user.email" required>

                        <div class="form-errors__block" v-if="errors['email']">
                            <span class="form-errors__row" v-for="error in errors['email']">
                                {{error}}<br>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">Аватар</label>

                    <div class="avatar-uploader__block col-md-6">

                        <img class="avatar__preview" :src="['/storage/uploads/' + user.avatar]" alt="аватар">

                        <input class="avatar__upload-input" type="file" id="avatarUploadInput" name="avatar" @change="uploadAvatar">

                        <button class="btn btn-success avatar__fake-button"
                                onclick="event.preventDefault(); document.getElementById('avatarUploadInput').click()">Загрузить</button>

                        <div class="form-errors__block" v-if="errors['avatar']">
                            <span class="form-errors__row" v-for="error in errors['avatar']">
                                {{error}}<br>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button class="btn btn-primary settings__save-button" @click="saveSettings()">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
      data(){
        return {
          token: window.csrf_token,
          load: false,

          user: null,
          errors: {},
        }
      },
      methods:{
        saveSettings(){
          axios.post('/profile/settings/update-profile', this.user)
            .then(res=>{
              if(res.data.success){
                window.location.reload();
              }else{
                this.errors = res.data.errors;
              }
            })
            .catch(res =>{
              alert('Критическая ошибка. Смотри ответ')
            })
        },
        uploadAvatar(event){
          let form = document.getElementById('avatarUploadInput');
          let avatar = form.files[0];

          if(!avatar) { return; }

          let formData = new FormData();
              formData.append('avatar', avatar);

          axios.post('/profile/settings/update-avatar', formData)
            .then(res=>{
              if(res.data.success){
                this.user.avatar = res.data.data.avatar_url;
              }else{
                this.errors = res.data.errors;
              }
            })
            .catch(res =>{
              alert('Критическая ошибка. Смотри ответ')
            })
        }
      },
      mounted(){
        this.load = true;

        axios.post('/profile/settings/get-user-info')
          .then(res=>{
            if(res.data.success){
              this.user = res.data.data;
            }else{
              alert('Ошибка! Смотри ответ!')
            }

            this.load = false;
          })
      }
    }
</script>