.avatar-uploader__block{
  position: relative;
  .avatar__preview{
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  .avatar__upload-input{
    position: relative;
    top: -8px;
    height: 42px;
    opacity: 0;
    border: 1px solid red;
  }
  .avatar__fake-button{
    position: absolute;
    top: 31px;
    left: 135px;
  }
}
.settings__save-button{
  margin-top: 10px;
}