.form-block{
  .form-block__header{
    padding-bottom: 15px;
    padding-left: 15px;
    h2{
      color: rgba(0, 0, 0, 0.9);
    }
  }
  .form-block__body{

  }
  .form-block__footer{
    padding-left: 15px;
  }
}

//Блок с ошибками
.form-errors__block{
  margin-top: 10px;

  .form-errors__row{
    color: red;
  }
}