header.app-header{
  background: #ffffff;
  height: 69px;
  nav.app-nav{
    border-bottom: 1px solid #ebebeb;
    .nav-link{
      font-size: 1rem;
      padding: 0.5rem;
      .nav-user-avatar{
        margin-right: 5px;
        width: 36px;
        height: 36px;
        border-radius: 36px;
      }
    }
    .dropdown-menu{
      left: -32px;
    }
  }
}

