//Normalize
@import "~normalize-scss/sass/_normalize";

//Google Шрифты
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700&subset=cyrillic');

//Компоненты
@import "~bootstrap/scss/bootstrap";

//Font-awesome
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

//Компоненты
@import 'components/form-block';

//Страница
@import 'layouts/main';
@import 'auth/auth';

@import 'profile/profile';

body{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.38;
  font-weight: 300;
  font-style: normal;
  color: #929292;

  padding-top: 69px;
}

//Для page-holder обертки дадим отступ сверху
.page-container.container{
  padding-top: 55px;
}